doctype html
html(lang="pt-br")
  head
    title Cassiano Belniak
    meta(charset="UTF-8")
    meta(name="description" content="Cassiano Belniak, Programador e designer.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title" content="Cassiano Belniak")
    meta(property="og:image" content="")
    meta(property="og:description" content="Programador e designer")
    meta(property="og:url" content="https://belniak.com.br")
    link(rel="stylesheet", href="/style.css", type="text/css")
    script(src="https://kit.fontawesome.com/4aba16db39.js" crossorigin="anonymous")
    block header
  body
    block content